<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h2>Your Book List</h2>
    <div th:unless="${#lists.isEmpty(books)}">
        <dl th:each="book : ${books}">
            <dt class="bookHeadline">
                <span th:text="${book.title}">Title</span> by
                <span th:text="${book.authorName}">Author</span>
                (ISBN: <span th:text="${book.isbn}">ISBN</span>)
            </dt>
            <dd class="bookDescription">
                <span th:if="${book.description}" style="white-space: pre-line"
                        th:text="${book.description}">Description</span>
                <span th:if="${book.description eq null}">
                        No description available</span>
                <div>
                    <a th:href="@{/bookList/formUpdateBook/{id}(id=${book.id})}"><button>Update</button></a>
                    <a th:href="@{/bookList/deleteBook/{id}(id=${book.id})}"><button>Delete</button></a>
                </div>
            </dd>
        </dl>
    </div>
    <div th:if="${#lists.isEmpty(books)}">
        <p>You have no books in your book list</p>
    </div>
    <a th:href="@{/bookList/formAddBook}"><button>Add Book</button></a>
</body>
</html>